.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.cart-container {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  margin-top: 5rem;
  padding: 1rem;
}

.price {

  font-weight: 500;
}

.text-wrapper,
.button-wrapper,
.product-name-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
}

.button-wrapper button {
  background-color: #7c6ae1;
  color: rgb(0, 0, 0);
  border: 0px;
  padding: 0.7rem;
  border-radius: .9em;
  font-weight: 700;
}

.button-wrapper button:hover {
  background-color: #dc7531;
  color: rgb(246, 246, 246);
}

.add-to-cart {

  position: absolute;
  right: 5rem;
  top: 3rem;
}

.add-to-cart img {
  height: 30px;
  width: 30px;
}

.shop_count {
  background: red;
  padding: 0.4rem 0.6rem;
  border-radius: 50%;
  font-weight: 400;
  color: white;
  right: 0.2rem;
  top: -1em !important;
}